*{
  padding: 0;
  margin: 0;
}

header, main, footer{
  width: 80%;
  justify-self: center;
}

header{
  background-color: blue;
  height: 80px;
}

main{
  background-color: olive;
  height: fit-content;
}

footer{
  background-color: red;
  width: 80%;
  height: 300px;
}

li{
  margin: 5px;
}

.fix-header{
  position: fixed;
  top:0px;
  width: 80%;
}

.fix-header-eliments{
  border: 1px solid black;

  color: white;
  background-color: black;

  list-style-type : none;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
}

.static-main-search{
  border: 1px solid black;
  background-color: burlywood;
}

.sticky-main{
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.sticky-main-eliments{
  border: 1px solid black;

  color: white;
  background-color: black;

  list-style-type : none;
  

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
}

.static-main-mainproduct{
  display: flex;
  justify-content: center;
}

.static-main-mainproduct-elements{
  /* flex:1; */
  border: 1px solid black;
  justify-content: space-around;
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 35%;

}

.static-main-category{
  display: flex;
  justify-content: center;
  border: 5px solid lightgray;
  background-color: lightgray;
  width: fit-content;
  max-width:100%;

  height: fit-content;
  justify-self: center;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.static-main-category-elements{
  border: 1px solid grey;
  background-color: white;
  justify-content: space-around;
  display: block;
  width: auto;
  max-width: 15%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}


.static-main-highlight{
  border: 1px solid orange;
  background-color: orange;

  display: flex;
  flex-direction: row;
  justify-content: center;
  height:auto;
  flex-wrap: wrap;
}

.static-main-highlight-elements{
  border: 5px solid red;
  background-color: pink;
  width: 230px;
  height: 230px;
  margin: 10px;
}

.static-footer-live-info{
  
}

.image-size-set{
  object-fit:cover;
  width: 230px;
  height:230px;
}

.main-product-image-size-set{
  object-fit:cover;
  width: 100%;
  height: 600px;
}

.header-image-size-set{
  width: 30px;
  height: 30px;
  object-fit:cover;
}